<?xml version="1.0"?>
<config>
    <modules>
        <TTS_Vnpay>
            <version>0.1.0</version>
        </TTS_Vnpay>
    </modules>
    <default>
    <payment>
      <vnpay>
        <model>vnpay/vnpay</model>
      	<title>Thanh toan qua VNPAY</title>
         <vnp_Locale>vn</vnp_Locale>
         <vnp_Currency>VND</vnp_Currency>
      </vnpay>

    </payment>
  </default>
    <frontend>
      <routers>
            <vnpay>
                <use>standard</use>
                <args>
                    <module>TTS_Vnpay</module>
                    <frontName>vnpay</frontName>
                </args>
            </vnpay>
        </routers>
        <layout>
            <updates>
                <vnpay>
                    <file>vnpay.xml</file>
                </vnpay>
            </updates>
        </layout>
    </frontend>
 
    <global>
        <models>
            <vnpay>
                <class>TTS_Vnpay_Model</class>
                <resourceModel>vnpay_mysql4</resourceModel>
            </vnpay>
             <vnpay_mysql4>
                <class>TTS_Vnpay_Model_Mysql4</class>
                <entities>
                    <vnpay>
                        <table>vnpay</table>
                    </vnpay>
                </entities>
            </vnpay_mysql4>
          
        </models>
        <resources>
            <vnpay_setup>
                <setup>
                    <module>TTS_Vnpay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vnpay_setup>
            <vnpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vnpay_write>
            <vnpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vnpay_read>
        </resources>
        <blocks>
            <vnpay>
                <class>TTS_Vnpay_Block</class>
            </vnpay>
        </blocks>
        <helpers>
            <vnpay>
                <class>TTS_Vnpay_Helper</class>
            </vnpay>
        </helpers>
    </global>
</config>