<?xml version="1.0"?>
<config>
    <sections>
        <payment translate="label" module="vnpay">
            <label>Payment Methods</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>400</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <vnpay translate="label">
                    <label>Thanh toán qua VNPAY</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>6</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <order_status translate="label">
                            <label>New Order Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status>
                        <vnp_Url translate="label">
                            <label>URL cổng thanh toán VNPAY- Virtual Payment Client URL: </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </vnp_Url>
                        <vnp_Terminal translate="label">
                            <label>Terminal ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <!--    <backend_model>adminhtml/system_config_backend_encrypted</backend_model> -->
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </vnp_Terminal>
                        <hash_code translate="label">
                            <label>Secretkey</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </hash_code>	
                        <vnp_Locale translate="label">
                            <label>Payment Server Display Language Locale</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Ngôn ngữ hiện thị trên cổng (vn/en)]]></comment>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </vnp_Locale>
                        <vnp_Currency translate="label">
                            <label>Currency code</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>9</sort_order>
                            <source_model>adminhtml/system_config_source_currency</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </vnp_Currency>	
                    </fields>
                </vnpay>
                
            </groups>
        </payment>
    </sections>
</config>